@use 'sass:map';
@use 'sass:color';

$colors: (
  neutral: (
    000: hsl(0, 0%, 100%),
    200: hsl(250, 6%, 84%),
    300: hsl(240, 6%, 70%),
    600: hsl(243, 23%, 30%),
    700: hsl(243, 23%, 24%),
    800: hsl(243, 27%, 20%),
    900: hsl(243, 96%, 9%),
  ),
  primary: (
    500: hsl(233, 67%, 56%),
    700: hsl(248, 70%, 36%),
  ),
  secondary: (
    500: hsl(28, 100%, 52%),
  ),
);

$semantic-colors: (
  main-bg: map.get($colors, neutral, 900),
  primary-text: map.get($colors, neutral, 000),
  secondary-text: map.get($colors, neutral, 900),
  accent-text: map.get($colors, secondary, 500),
  search-bar-bg: map.get($colors, neutral, 800),
  search-bar-bg-hover: map.get($colors, neutral, 700),
  search-bar-primary-text: map.get($colors, neutral, 000),
  search-bar-secondary-text: map.get($colors, neutral, 200),
  search-bar-outline: map.get($colors, neutral, 000),
  search-bar-icon: map.get($colors, neutral, 200),
  search-btn-bg: map.get($colors, primary, 500),
  search-btn-bg-hover: map.get($colors, primary, 700),
  search-btn-bg-hover-secondary: rgba(map.get($colors, primary, 700), 0.5),
  search-btn-text: map.get($colors, neutral, 000),
  weather-tile-bg: map.get($colors, neutral, 800),
  weather-tile-bg-secondary: map.get($colors, neutral, 700),
  weather-tile-br: map.get($colors, neutral, 600),
  weather-tile-category: map.get($colors, neutral, 200),
  weather-tile-text: map.get($colors, neutral, 000),
  weather-hourly-bg: map.get($colors, neutral, 800),
  weather-hourly-select-btn: map.get($colors, neutral, 600),
  units-select-btn: map.get($colors, neutral, 800),
  select-dropdown-bg: map.get($colors, neutral, 800),
  select-dropdown-br: map.get($colors, neutral, 600),
  select-dropdown-clr: map.get($colors, neutral, 000),
  select-dropdown-category: map.get($colors, neutral, 300),
  select-dropdown-selected: map.get($colors, neutral, 700),
  btn-bg-hover: map.get($colors, neutral, 700),
  btn-bg-hover-secondary: rgba(map.get($colors, neutral, 800), 0.9),
  btn-outline: map.get($colors, neutral, 000),
  loading-bg: hsl(242, 27%, 20%),
  btn-error-bg: hsl(242, 27%, 20%),
  btn-error-text: map.get($colors, neutral, 000),
  scrollbar-thumb-clr: map.get($colors, neutral, 600),
  scrollbar-thumb-clr-hover: map.get($colors, neutral, 300),
  scrollbar-track-clr: transparent,
  modal-bg: map.get($colors, neutral, 800),
  modal-br: map.get($colors, neutral, 600),
  modal-backdrop: rgba(map.get($colors, neutral, 800), 0.8),
  clear-btn-br: map.get($colors, secondary, 500),
  clear-btn-bg-hover: map.get($colors, secondary, 500),
  clear-btn-bg-hover-secondary: rgba(map.get($colors, secondary, 500), 0.5),
  tools-menu-bg: map.get($colors, neutral, 800),
  tools-menu-br: map.get($colors, neutral, 600),
  skip-bg: map.get($colors, primary, 500),
  skip-br: map.get($colors, primary, 500),
);
