@use '../abstracts/' as *;

/* ==========================================
Base button styles
=========================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  border: none;
  background: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;

  &:focus-visible {
    outline: none;
    outline: size(025) solid var(--button-outline, #{clr(btn-outline)});
    outline-offset: size(050);
  }
}

/* ==========================================
Ripple on hover variant
=========================================== */
.btn[data-variant='ripple'] {
  position: relative;
  z-index: 1;
  isolation: isolate;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
  }

  &::before {
    width: size(100);
    background-color: var(--button-hover-bg, #{clr(btn-bg-hover)});
    transition-delay: 70ms;
    z-index: -1;
  }
  &::after {
    width: size(200);
    background-color: var(
      --button-hover-bg-secondary,
      #{clr(btn-bg-hover-secondary)}
    );
    z-index: -2;
  }

  &:hover::before,
  &:hover::after {
    animation-name: expand;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &:not(:hover):not(:focus-visible)::before,
  &:not(:hover):not(:focus-visible)::after {
    animation: shrink;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

.btn[data-variant='scale-up'] > svg {
  transition: transform 300ms ease-in;
}
.btn[data-variant='scale-up']:hover > svg {
  transform: scale(1.25);
}

/* ==========================================
Button types
=========================================== */

/* Search button */
.btn[data-type='search'] {
  --button-bg: #{clr(search-btn-bg)};
  --button-text: #{clr(search-btn-text)};
  --button-outline: #{clr(search-btn-bg)};
  --button-hover-bg: #{clr(search-btn-bg-hover)};
  --button-hover-bg-secondary: #{clr(search-btn-bg-hover-secondary)};
  align-self: stretch;
  font-size: fs(500);
  font-weight: $fw-500;
  padding-block: size(200);
  padding-inline: size(300);
  border-radius: border-radius(12);
}

/* Error button */
.btn[data-type='error'] {
  padding-block: size(150);
  padding-inline: size(200);
  border-radius: border-radius(8);
  gap: size(125);
  background-color: clr(btn-error-bg);
  color: clr(btn-error-text);
}

/* Toggle button (suggestions / weekdays, etc.) */
.btn[data-type='toggle'] {
  &:focus-visible::before,
  &:focus-visible::after {
    animation: expand 500ms ease-in-out forwards;
  }

  [data-state='open'] &:not(:hover):not(:focus-visible)::before,
  [data-state='open'] &:not(:hover):not(:focus-visible)::after {
    animation-name: none;
  }

  /* Suggestion list and custom select dropdown buttons */
  .search-menu__suggestion-list &,
  .custom-select__dropdown--weekdays & {
    justify-content: start;

    &:hover,
    &.selected,
    &.highlighted {
      border: 1px solid clr(select-dropdown-br);
    }

    &.selected::before,
    &.selected::after {
      animation: expand 500ms ease-in-out forwards;
    }

    &:not(.selected):not(:hover):not(:focus-visible)::before,
    &:not(.selected):not(:hover):not(:focus-visible)::after,
    &.highlighted {
      animation-name: none;
    }
  }

  .search-menu__suggestion-list &::after {
    background-color: var(--button-hover-bg, #{clr(btn-bg-hover)});
  }
}

/* Units button */
.btn[data-type='units'] {
  &:focus-visible::before,
  &:focus-visible::after {
    animation: expand 500ms ease-in-out forwards;
  }

  [data-state='open'] &:not(:hover):not(:focus-visible)::before,
  [data-state='open'] &:not(:hover):not(:focus-visible)::after {
    animation-name: none;
  }
}

/* Icon button */
.btn[data-type='icon'] {
  svg {
    inline-size: 2.25rem;
    block-size: 2.25rem;
  }
  &.filled {
    svg {
      fill: currentColor;
    }
  }
}

.btn[data-type='clear'] {
  --button-hover-bg: #{clr(clear-btn-bg-hover)};
  --button-hover-bg-secondary: #{clr(clear-btn-bg-hover-secondary)};
  border: 1px solid clr(clear-btn-br);
  padding-block: size(150);
  padding-inline: size(250);
  color: clr(accent-text);

  display: flex;
  gap: size(200);

  &:hover {
    color: clr(secondary-text);
  }
}

/* ==========================================
Animations
=========================================== */
@keyframes expand {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(45);
  }
}

@keyframes shrink {
  0% {
    opacity: 1;
    transform: scale(45);
  }
  80% {
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
