@use '../abstracts/' as *;

.modal {
  background-color: clr(modal-bg);
  border: 1px solid clr(modal-br);
  border-radius: border-radius(12);
  padding-block: size(400);
  padding-inline: size(400);
  color: clr(primary-text);

  &__content {
    display: grid;
    grid-auto-flow: row;

    & > .btn {
      justify-self: end;
      padding: 0;
    }
  }

  &::backdrop {
    background-color: clr(modal-backdrop);
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      backdrop-filter: blur(size(075));
    }
  }

  &[data-state='closed'] {
    display: none;
  }

  &[data-state='opened'] {
    animation: revealDialog;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    &::backdrop {
      animation: fadeInBackdrop;
      animation-duration: 600ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }

  &[data-state='is-closing'] {
    animation: hideDialog;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    &::backdrop {
      animation: fadeOutBackdrop;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes revealDialog {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hideDialog {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes fadeInBackdrop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.95;
  }
}

@keyframes fadeOutBackdrop {
  0% {
    opacity: 0.95;
  }

  100% {
    opacity: 0;
  }
}
