@use '../abstracts/' as *;

.modal {
  inline-size: fit-content;
  background-color: clr(modal-bg);
  border: 1px solid clr(modal-br);
  border-radius: border-radius(12);
  padding-block: size(400);
  padding-inline: size(400);
  color: clr(primary-text);

  display: grid;
  grid-auto-flow: row;

  & > .btn {
    justify-self: end;
    padding: 0;
  }
}
