@use '../abstracts/' as *;

.tools-menu {
  list-style: none;
  position: fixed;
  inset: auto 0 0 0;

  margin-block: 0;
  margin-inline: auto;
  padding-block: size(125);
  padding-inline: size(400);
  background-color: clr(tools-menu-bg);
  border-top: 1px solid clr(tools-menu-br);

  z-index: 15;

  display: grid;
  grid-auto-flow: column;
  gap: 0 size(300);
  place-content: center;

  @include mq(small) {
    inset: auto 0 0 auto;
    inline-size: fit-content;
    margin-inline-start: auto;
    border-radius: border-radius(12) 0 0 border-radius(12);
    border: 1px solid clr(tools-menu-br);
  }

  .btn {
    aspect-ratio: 1 / 1;
  }
}
