@use '../abstracts/' as *;

.tooltip {
  --tooltip-bg: #{clr(tooltip-bg)};
  --tooltip-text: #{clr(tooltip-text)};
  position: relative;
  display: grid;
  place-content: center;
  aspect-ratio: 1;

  .modal & {
    --tooltip-bg: #{clr(tooltip-bg-secondary)};
  }

  &__text {
    position: absolute;
    inset: auto auto 110% 50%;
    transform: translateX(-50%);
    margin-block-end: size(100);
    padding-block: size(100);
    padding-inline: size(150);
    background-color: var(--tooltip-bg);
    color: var(--tooltip-text);
    border-radius: border-radius(8);
    font-size: fs(200);
    line-height: 1;
    text-align: center;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: 20;

    &::after {
      content: '';
      position: absolute;
      inset: 100% auto auto 50%;
      transform: translateX(-50%);
      border-width: size(075);
      border-style: solid;
      border-color: var(--tooltip-bg) transparent transparent;
    }
  }

  &:hover .tooltip__text,
  &:focus-within .tooltip__text {
    opacity: 1;
  }
}
