@use '../abstracts/' as *;

.weather-current {
  --flow-spacer: #{size(250)};

  &__highlighted-content {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    gap: size(400);

    @include mq(medium) {
      grid-auto-flow: column;
      justify-content: space-between;
    }

    @include mq(large) {
      --flow-spacer: #{size(400)};
    }

    & > header {
      --flow-spacer: #{size(150)};
      text-align: center;
      @include mq(medium) {
        text-align: left;
      }
    }

    & > *:not(header, .btn-container) {
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      justify-items: center;
      gap: size(100);

      @include mq(small) {
        grid-template-columns: auto max-content;
        align-items: center;
        justify-content: center;
        gap: 0 size(250);
      }
    }
  }

  &__details {
    --card-base-width: 9rem;
  }
}

.weather-current--loading {
  .stack-grid {
    border-radius: border-radius(20);
    background-color: clr(loading-bg);
    overflow: hidden;

    & > picture {
      width: 100%;
      height: 100%;
      max-height: 16.75rem;
    }
  }

  &__highlighted-content {
    display: grid;
    place-items: center;
    gap: size(100);
  }

  .loading__icon > * {
    width: 3.5rem;
    height: 3.5rem;
  }
}
