@use '../abstracts/' as *;

.weather-tile {
  background-color: clr(weather-tile-bg);
  border: 1px solid clr(weather-tile-br);
  border-radius: border-radius(12);
  padding-block: size(250);
  padding-inline: size(250);
  color: clr(weather-tile-text);
  &__category {
    font-size: fs(400);
    font-weight: $fw-500;
  }

  dl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: fs(200);
  }

  .weather-current &__category {
    color: clr(weather-tile-category);
  }

  .weather-current &__value {
    font-size: fs(600);
    font-weight: $fw-300;
  }

  .weather-daily & {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    padding-inline: size(125);
    padding-block: size(200);
  }

  .weather-daily &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: size(075) 0;
  }

  .weather-daily &__icon,
  .weather-daily &__time {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .weather-daily &__icon {
    width: size(175);
    height: size(175);
    align-self: center;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .weather-daily &__temperature-max {
    grid-column: 1;
  }
  .weather-daily &__temperature-min {
    grid-column: 2;
    justify-self: end;
  }

  .weather-daily--loading & {
    height: 10.3125rem;
  }

  .weather-hourly & {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 size(050);
    align-items: center;

    padding-inline-start: size(150);
    padding-inline-end: size(200);
    padding-block: size(125);
    border-radius: border-radius(8);
    background-color: clr(weather-tile-bg-secondary);

    .weather-icon {
      grid-column: 1;
    }
  }

  .weather-hourly--loading & {
    height: 3.75rem;
  }

  .comparison-view & {
    background-color: clr(weather-tile-bg-secondary);
    display: grid;
    gap: size(200);
  }

  .comparison-view &__header {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;

    gap: size(200);

    @include mq(small) {
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  .comparison-view &__header__text {
    text-align: center;

    @include mq(small) {
      text-align: start;
    }
  }

  &__details & {
    display: grid;
    grid-auto-flow: column;
    background-color: clr(weather-tile-bg-additional);
    gap: size(050);

    &__category {
      font-size: fs(200);
      font-weight: $fw-500;
    }
    &__value {
      font-size: fs(200);
      font-weight: $fw-300;
    }
  }
}
