@use '../abstracts/' as *;

.grid-auto-fit {
  display: grid;
  gap: size(200);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--card-base-width, $card-base-width), 100%), 1fr)
  );
}
